body, html {
    margin: 0;
    width: 100%;
    height: 100%;
}

/*      HEADER SECTION         */
header {
    margin: 10px 150px;
    display: flex;
    flex-direction: row;
}

main {
    margin: 0 150px;
}

footer {
    margin: 0 150px;
}

hr {
    height: 20px;
    background: url(http://ibrahimjabbari.com/english/images/hr-11.png) repeat-x 0;
    border: 0;
    margin: 0 150px;
}

/*                                          Header Styles */
header img {
    order: -1;
    display:inline-block;
    max-height: 50px;
    max-width: 50px;
    flex-grow: 1
}

header h3 {
    order: 2;
    font-family: 'Pacifico', cursive;
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
    line-height: 40px;
}

header p {
    font-family:sans-serif;
    margin-top: 0;
    padding-bottom: 0;
    font-size: 10px
}

div.logo {
    flex-grow: 15;
    margin-left: 10px;
    padding: 0px;
}

header .navbar .medialinks {
    order: 3;
    display: inline-block;
    -webkit-padding-start: 0px;
    justify-content: flex-end;
}
header .navbar .contactlinks {
    order: 4;
    display: inline-block;
    -webkit-padding-start: 10px;
    justify-content: flex-end;
}
header .navbar li {
    display: inline-block;
    list-style-type: none;
}

header .navbar {
    flex-grow: 2;
}

/*                               Main Styles */

main h1 {
    font-family: 'Teko', sans-serif;
    font-size: 50px; 
    line-height: 50px;
    padding-bottom: 0;
    margin-bottom: 0;
}
main p {
    font-family: 'Abel', sans-serif;
    text-transform: uppercase;
    color: lightgray;
    margin-top: 0;
    padding-top: 0;
}

article p {
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
    color: black;
    text-transform: none;
    text-indent: 2rem;
    line-height: 1.5rem;
    font-size: 1.15rem;
    margin: 30px auto;
}

.printSection {
    display: inline;
    width: 600px;
    margin-bottom: 30px;
    box-sizing: border-box;
}

h5 {
    font-weight: bold;
}

/*                               Footer Styles */

